<style>
    #errorForm{
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #696969;
        padding: 20px;
        border: none;
        border-radius: 15px;
        width: 350px;
        height: 190px;
        align-items: center;
    }

    #errorTitle{
        font-family: "Times New Roman", serif, Times;
        font-weight: bold;
        font-size: 27px;
        color: #СFFE4C4;
        text-align: center;
    }

    #errorForm{
    }

    #errorForm button{
        text-align: center;
        color: white;
    }

    #errorMes{
        text-align: center;
        color: white;
    }

    #errorMessage{
        text-align: center;
        color: white;
    }

    #errorForm button{
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-family: "Times New Roman", serif, Times;
        border-radius: 15px;
        border: none;
        width: 35%;
        height: 35px;
        color: white;
        background-color: black;
        margin-left: 114px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #errorForm button:hover {
        background-color: #A9A9A9;
    }
</style>
<div id="errorForm">
    <div id="errorContent"></div>
    <p id="errorTitle">Ошибка!</p>
    <p id="errorMessage"></p>
    <p th:text="${errorMessage}" id="errorMes"></p>
    <button onclick="closeModal()">Закрыть</button>
</div>
<script>
    function closeModal() {
        document.getElementById("errorForm").style.display = "none";
        window.location.href = window.location.pathname;
    }
</script>